# About this notebook
<p style="text-align: justify"> Here, you will learn the basic coding and data structures including numbers, strings, list, dictionaries and more. Some codes already done for demonstration. Some other codes, you will do as excercises.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, download the notebook (.pynb file) and submit the notebook  to MS Teams inbox in the class period</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing your ID at the beigining of the file name.</p>
<p> 3. Other file format will not be accepted.</p>

# **INSTRUCTION**

# Number

In [9]:
# basic numeric operations
34 - 30

4

In [10]:
# classic division returns a float
42/5

8.4

In [20]:
# floor division discards the fractional part
32 // 7

4

In [21]:
# assigin value to variable for later use
a = 1299 / 28
print(a)

46.392857142857146

In [22]:
# use the variable a for further operations
b = a*9
print(b)

417.53571428571433

In [17]:
a=2 ** 6
a

64

<b>Exercise 1:</b> Assign values to some variables and perform different operations. Also print the results.

In [50]:
# code here
a=19
b=7

print(f'Addition= {a+b}')
print(f'Subtraction= {a-b}')
print(f'Division= {a/b}')
print("Multiplication= ",a*b)

Addition= 26
Subtraction= 12
Division= 2.7142857142857144
Multiplication=  133

# Import Module
<p style="text-align: justify"> Python code in one module gains access to the code in another module by the process of importing it. The import statement is the most common way of invoking the import machinery.</p>

<p style="text-align: justify">Python’s standard library is very extensive, offering a wide range of facilities. The library contains built-in modules (written in C) that provide access to system functionality such as file I/O that would otherwise be inaccessible to Python programmers, as well as modules written in Python that provide standardized solutions for many problems that occur in everyday programming. Some of these modules are explicitly designed to encourage and enhance the portability of Python programs by abstracting away platform-specifics into platform-neutral APIs.</p>

<b> Example:</b> Python has a built-in module that you can use for mathematical tasks. The math module has a set of methods and constants. The detail documentation can be found [here](https://docs.python.org/3/library/math.html).

In [41]:
# importing the math module
import math
# accessing the constant π from math
print(math.tau)
print(math.pi)
print(math.fabs(-5))
print(math.ceil(5.8))
print(math.floor(9.45))
math.factorial(4)

6.283185307179586
3.141592653589793
5.0
6

24

In [44]:
# using the method sqrt from math
import math
math.sqrt(64)
#math.factorial(5)

8.0

<b>Remember:</b> A cell always outputs the value of last variable. If you want to show other values use print. See the below cell for an example.

In [33]:
print(1+2)
print(a*4)
print(a/b)

3
76
2.7142857142857144

<b>Exercise 2:</b> Import a module of your choice and show some operations.<br>
See all python module list [here](https://docs.python.org/3/py-modindex.html).

In [58]:
# code here
# using the Time module
import time
current=time.time(0)
print("Current time since the epoch =",current)
print("current Time=  ",time.ctime(current))

Current time since the epoch = 1717472569.9674883
current Time=   Tue Jun  4 03:42:49 2024

In [66]:
#code
import random
print(random.randint(9,12))
list1 = [1, 2, 3, 4, 5]
print(random.sample(list1,3))

12
[4, 1, 2]

# Object types
The basic object types are Numbers, Strings, Lists, Dictionaries, Tuples, Files and Other types (Sets, types, None, Booleans etc.)

In [ ]:
a=10.5

In [ ]:
# Checking the type of an object
print(type(a))
print(type(b))

<class 'float'>
<class 'int'>

In [ ]:
c = 123
print(type(c))

<class 'int'>

In [ ]:
d = '123'
print(type(d))

<class 'str'>

In [ ]:
c = 45.5
print(type(c))

<class 'float'>

In [ ]:
a = 7
d = 99+a
print(type(d))

<class 'int'>

# String

In [ ]:
# assign value to a variable. The value can be qouted using '' or ""
s = 'Bangladesh'

In [ ]:
# index
s[3]

'g'

In [70]:
# negative index
s = 'asdf'
s[-2]

'd'

When to use ' ' or " " ?

string operations with * and +

In [71]:
'asif ' * 4

'asif asif asif asif '

In [75]:
name='Tanzil '
name * 5

'Tanzil Tanzil Tanzil Tanzil Tanzil '

In [ ]:
'asif ' + 'rahman'

'asif rahman'

In [76]:
'Kazi '+ name

'Kazi Tanzil '

In [80]:
# slicing
name = 'Ashraf Uddin'
print(name[4:8])
print(name[4:])
print(name[:4])
print(name[-3:])
print(name[1:8:2])
print(name[-1: :-1])

af U
af Uddin
Ashr
din
srfU
niddU farhsA

Some examples of string methods

In [95]:
name = 'Afsar Mahmud sayed'
sub = 'sa'
name.count(sub)

2

In [96]:
print(name.split())

['Afsar', 'Mahmud', 'sayed']

In [97]:
print(name.split()[1])

Mahmud

In [98]:
name.islower()

False

In [100]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.splitlines()

['I am right', 'He is fine', 'This it okay']

In [101]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.split(' ')

['I', 'am', 'right\nHe', 'is', 'fine\nThis', 'it', 'okay']

In [ ]:
separator = '??'
mystrings = ['Himel', 'Liton', 'Hasan', 'Fahim']
separator.join(mystrings)

'Himel??Liton??Hasan??Fahim'

In [102]:
#help(mystring.count)

In [103]:
len(name)

18

In [104]:
# check which functions you can use with variable 'name'
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [105]:
help(name.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

<b>Exercise 3:</b> Demonstrate some string operations. Also, show uses of some string methods.

In [117]:
# Code here

a='My name is '
b='Kazi Tanzizul '
c='Haque '
name=b+c
print("Welcome ",name)
print(a*2,b*3,c*5)
print(name[2:8])
print(name[1:])
print(name[:7])
print(name[-2:])
print(name[1:9:3])
print(name[-1: :-2])
x=a+'\n'+b+c
x.split()
x.splitlines()
name.islower()

Welcome  Kazi Tanzizul Haque
My name is My name is  Kazi Tanzizul Kazi Tanzizul Kazi Tanzizul  Haque Haque Haque Haque Haque
zi Tan
azi Tanzizul Haque
Kazi Ta
e
a n
 ua uinTia

False

# List
<p style="text-align: justify">Python knows a number of compound data types, used to group together other values. The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.</p>

In [120]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [128]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']
data.insert(0,10)
print(data)

[10, 21, 'Manager', ['Manager', 89000], 4.5, 'Dhaka']

Like strings (and all other built-in sequence types), lists can be indexed and sliced:

In [133]:
data[-3][1]

89000

In [ ]:
data[-1]

'Dhaka'

In [139]:
data[0:4]

[10, 21, 'Manager', ['Manager', 89000]]

In [136]:
data[1]

21

In [137]:
data[2][4]

'g'

In [ ]:
len(data)

5

In [ ]:
data

[21, 'Manager', ['Manager', 89000], 4.5, 'Dhaka']

Some list methods

In [141]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']
data.append(100)
print(data)

[21, 'Manager', ['Manager', 89000], 4.5, 'Dhaka', 100]

In [142]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']
data.insert(2,100)
print(data)

[21, 'Manager', 100, ['Manager', 89000], 4.5, 'Dhaka']

In [147]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']
data.remove(21)
print(data)

['Manager', ['Manager', 89000], 4.5, 'Dhaka']

In [148]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']
data.pop(3)
print(data)

[21, 'Manager', ['Manager', 89000], 'Dhaka']

In [149]:
dir(data)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
#help(data.insert)

Lists also support operations like concatenation

In [150]:
squares + data

[1, 4, 9, 16, 25, 21, 'Manager', ['Manager', 89000], 'Dhaka']

<b> Exercise 4:</b> Implement stack using list
<p><b>Hints:</b> The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index</p>

<b> Exercise 5:</b> Implement queue using list
<p><b>Hints:</b> It is also possible to use a list as a queue, where the first element added is the first element retrieved (“first-in, first-out”)</p>

In [168]:
#code here
k=[1,2,3,4,5,['Tanzil',11],100]
k.append(100)
print(k)
k.append(['b',1])
print(k)
k.pop()
print(k)
k.pop()
print(k)
k.pop()
print(k)
k.pop(2)
print(k)

[1, 2, 3, 4, 5, ['Tanzil', 11], 100, 100]
[1, 2, 3, 4, 5, ['Tanzil', 11], 100, 100, ['b', 1]]
[1, 2, 3, 4, 5, ['Tanzil', 11], 100, 100]
[1, 2, 3, 4, 5, ['Tanzil', 11], 100]
[1, 2, 3, 4, 5, ['Tanzil', 11]]
[1, 2, 4, 5, ['Tanzil', 11]]

In [169]:
#code here
k=[1,2,3,4,5,['Tanzil',11],100]
k.append(15)
print(k)
k.append(['b',1])
print(k)
k.pop(0)
print(k)
k.pop(0)
print(k)
k.pop(0)
print(k)
k.pop(0)
print(k)

[1, 2, 3, 4, 5, ['Tanzil', 11], 100, 15]
[1, 2, 3, 4, 5, ['Tanzil', 11], 100, 15, ['b', 1]]
[2, 3, 4, 5, ['Tanzil', 11], 100, 15, ['b', 1]]
[3, 4, 5, ['Tanzil', 11], 100, 15, ['b', 1]]
[4, 5, ['Tanzil', 11], 100, 15, ['b', 1]]
[5, ['Tanzil', 11], 100, 15, ['b', 1]]

# Dictionary
<p style="text-align: justify">Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.</p>

<p style="text-align: justify">It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.</p>

In [171]:
tel = {'jack': 4098, 'sape': 4139}

In [194]:
list(tel.keys())[1]

'sape'

In [173]:
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [177]:
person = {'Age':21,'Name':['niaz','rahman'], 'Salary':56000, 'Rating':4.50}

['niaz', 'rahman']

In [ ]:
person['Rating']

4.5

In [ ]:
len(person)

4

In [187]:
person.keys()

dict_keys(['Age', 'Name', 'Salary', 'Rating'])

In [183]:
#person.has_key('Name')
'Name' in person.keys()

True

In [178]:
'niaz' in person['Name']

True

In [ ]:
#dir(person)

<b> Exercise 6:</b> Define a dictionary to store the details of persons. Also, print some data from the dictionary.
 <p><b>Hint:</b> You may require nesting dictionary, lists, string inside the dictionary.</p>

In [199]:
# Code here
person_Information = {'Age':22,'Name':['Kazi','Tanzizul'], 'Id':47783, 'Cgpa':4.93}
print(person_Information)
print(person_Information['Name'][1])
print(person_Information['Id'])
print(person_Information['Cgpa'])

print(list(person_Information.keys())[0])

dict_keys = person_Information.keys()
print(dict_keys)
print(person_Information.values())

print('Kazi' in person_Information['Name'])
print('Tanzil' in person_Information['Name'])
print('Cgpa' in person_Information.keys())

{'Age': 22, 'Name': ['Kazi', 'Tanzizul'], 'Id': 47783, 'Cgpa': 4.93}
Tanzizul
47783
4.93
Age
dict_keys(['Age', 'Name', 'Id', 'Cgpa'])
dict_values([22, ['Kazi', 'Tanzizul'], 47783, 4.93])
True
False
True

# Tuples and Sets
<b>Exercise 7: (Optional)</b> Use the content from [here](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) to follow some examples on tuple and set.

In [ ]:
# code from here